[submodule "submodules/StyleID"]
	path = submodules/StyleID
	url = https://github.com/jiwoogit/StyleID.git
[submodule "submodules/Cinemo"]
	path = submodules/Cinemo
	url = https://github.com/maxin-cn/Cinemo.git
